body {
    background-color: #ddd;
    margin: 0px;
    padding: 16px 0px 48px 0px;
    font-family: 'Roboto', sans-serif;
    color: #111;
    box-sizing: border-box;
}
article {
    box-sizing: border-box;
    background-color: #fff;
    padding: 3em;
    width: 70%;
    max-width: 1080px;
    box-shadow: 1px 1px 5px #555;
    position: relative;
    z-index: 1;
    margin: 0px auto;
}
html, body, article {
    height: 100%;
}
h1 {
    font-size: 2.5em;
    margin-bottom:0;
}
article {
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-sizing: border-box;
}
div.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
textarea {
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    resize: vertical;
}
