* {
    max-width: 100%;
}

body {
    background-color: #ddd;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

h1.indexTitle {
    font-size: 2.5em;
    margin-bottom: 0;
}
h1.title {
    font-size: 2.5em;
    margin-bottom: 0;
}

i.author {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 2em;
    display: block;
}

div.indexContainer {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 1; */
    padding-left: 1em;
}

div.indexContainer>a {
    display: block;
    color: inherit;
    text-decoration: none;
}

div.nextupprev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em auto 0em auto;
}

div.nextupprev > div {
    flex-grow: 1;
    flex-basis: 0;
}

div.prevpage {
    text-align: left;
}

div.uppage {
    text-align: center;
}

div.nextpage {
    text-align: right;
}

img {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

div.codesnippet {
    position: relative;
}

div.codesnippet > a {
    position: absolute;
    right: 0.6em;
    top: 0.6em;
}

img.github-mark {
    height: 1.2em;
    opacity: 0.6;
    margin: 0;
    transition: opacity 0.3s;
}

img.github-mark:hover {
    opacity: 1;
}

img.gitlab-mark {
    height: 1.2em;
    opacity: 0.6;
    margin: 0;
    transition: opacity 0.3s;
}

img.gitlab-mark:hover {
    opacity: 1;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1.2em;
    margin-top: -0.5em;
}

.image-code-link {
    display: block;
    text-align: right;
}

div.toc {
    font-size: 0.85em;
    padding: 0.6em 1em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 1em;
    float: right;
    /* margin-right: 1em; */
    /* float: left; */
    width: 16em;
    max-width: 30%;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    box-shadow: 2px 2px 4px #999;
    overflow: hidden;
    max-height: 1.6em;
    transition: max-height 0.35s ease-in-out;
}

div.toc.expanded {
    transition: max-height 0.35s ease-in-out;
}

/* div.toc>span {
    top: 1.2em;
    right: 1.2em;
    position: absolute;
    width: 1.15em;
    height: 1.15em;
    background-color: black;
    display: block;
    font-size: 1.2em;
} */

h4.toc {
    margin: 0.2em;
    width: auto;
    cursor: pointer;
}

h4.toc>i {
    float: right;
    font-size: 1.25em;
}

div.toc ul {
    list-style-type: square;
    padding-left: 0.8em;
}

div.toc a {
    text-decoration: underline #999;
}


code {
    background-color: #f7f7ff;
    padding: 1px;
}

pre {
    background: #f5f5f5;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: inline;
}

pre>code {
    display: block;
    background: inherit;
    padding: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid #eee
}

pre.code,
pre.lineNumbers, 
pre.lineNumbersEmphasis, 
pre.console,
pre.console-docker {
    display: block;
    counter-reset: line;
    /* margin-left: 3.2em; */
    padding: 0.8em 0.8em 0.8em 0.8em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
}

pre.console,
pre.console-docker {
    padding-left: 3em;
}

pre.code>code,
pre.lineNumbers>code, 
pre.lineNumbersEmphasis>code, 
pre.console>code,
pre.console-docker>code {
    display: inline;
    padding: 0;
    border: none;
    margin: 0;
}

pre.lineNumbersEmphasis>code {
    opacity: 0.5;
    /* filter: grayscale(40%); */
    /* margin-left: 0.5em; */
}
pre.lineNumbersEmphasis>code.emphasis {
    opacity: 1;
    /* filter: grayscale(0%); */
}

pre.lineNumbersEmphasis>code.emphasis::before {
    font-weight: bold;
}

pre.lineNumbers>code::before, 
pre.lineNumbersEmphasis>code::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    /* border-right: 1px solid #ddd; */
    padding: 0 1.5em 0 0;
    /* margin-right: .5em; */
    margin-left: -3.7em;
    width: 2.2em;
    color: #555;
    text-align: right;
}

div.pygments pre {
    display: block;
    padding: 0.8em;
}

/*
div.pygments span.lineno {
    padding: 0 1.5em 0 0;
    margin-left: -2.9em;
    width: 2.2em;
    color: #555;
    text-align: right;
}

div.pygments span + span.lineno {
    width: 0.8em;
}
*/

.pygmentstable td {
    padding: 0;
    font-size: initial;
}
.pygmentstable tr:hover {
    background-color: initial;
}
.pygmentstable .linenodiv pre {
    background-color: initial;
}

h4.snippet-name {
    font-family: monospace;
    padding-left: 0.6em;
}

pre.console>code::before, 
pre.console-docker>code::before {
    content: "$";
    display: inline-block;
    /* border-right: 1px solid #ddd; */
    padding: 0 1em 0 0;
    margin-left: -2em;
    color: #555;
    text-align: right;
    width: 1em;
}

pre.console>code::before {
    content: "$";
}

pre.console-docker>code::before {
    content: "[docker] $";
    width: 6.6em;
    font-weight: bold;
    color: #9999A2;
}

pre.center {
    text-align: center;
}
pre.nowrap {
    white-space: pre;
    overflow-x: auto;
}

h4 + div.codesnippet {
    margin-top: -1em;
}

table {
    overflow-x: auto;
}

div.overflowContainer {
    overflow-x: auto;
}

td {
    padding: 8px 8px;
    font-size: 14px;
}

tr:hover {
    background-color: #fafafa;
}

button {
    font-size: 14px;
    background-color: #999;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #aaa;
}

button:hover {
    box-shadow: 1px 1px 3px #555;
}

button:focus {
    box-shadow: 1px 1px 3px #555;
    outline: none;
}

article {
    box-sizing: border-box;
    background-color: #fff;
    padding: 3em;
    font-size: 1em;
    text-align: left;
    width: 70%;
    max-width: 1080px;
    margin: 0px auto 48px auto;
    box-shadow: 1px 1px 5px #555;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

a, a:visited{
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

i.material-icons a {
    text-decoration: none !important;
    color: inherit;
    opacity: 0.6;
}

i.material-icons a:hover {
    opacity: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}

a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
    opacity: 0.6;
}

div.codesnippet > a:hover {
    opacity: inherit;
}

h2 {
    margin-top: 1.2em;
}

h3 {
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}

h4 {
    font-size: 1.05em;
}

h5 {
    margin-bottom: 0.6em;
}

div.back {
    float:left;
    margin-top: 1em;
}
div.next {
    float:right;
    margin-top: 1em;
}
div.back>a, div.next>a{
    color:inherit;
    text-decoration: none;
}
div.back>a:hover, div.next>a:hover{
    color:#777;
    text-decoration: none;
}
div.backArr {
    position:fixed;
    left:3%;
    top:50vh;
    margin-left:20px;
    margin-top:-12px;
    z-index:2;
}
div.nextArr {
    position:fixed;
    right:3%;
    top:50vh;
    margin-right:-12px;
    margin-top:-12px;
    z-index:2;
}
div.backArr>a:hover, div.backArr>a, divArr.next>a:hover, div.nextArr>a{
    color:#777;
    text-decoration: none;
}

footer {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 6px;
    margin-bottom: 1em;
}

hr {
    margin: 20px auto;
}

nav {
    box-sizing: border-box;
    background-color: #fff;
    text-align: left;
    z-index: 2;
    overflow: hidden !important;
    box-shadow: 1px 1px 5px #555;
    height: 100vh;
    top: 0;
    left: -28%;
    width: 28%;
    margin-left: 32px;
    position: fixed;
    transition: left 500ms, margin 500ms;
    padding-right: 32px;
}
nav:hover {
    left: 0 !important;
    margin-left: 0;
}
nav>div {
    max-height: 100%;
    overflow: auto;
    padding: 0.8em 0 0.8em 1.6em;
    box-sizing: border-box;
}
nav ul {
    padding-left: 1em;
}
nav>div>ul {
    padding-left: 0em;
}
nav>div li {
    list-style-type: none;
}

nav>div li>a {
    text-decoration: none;
    margin: 0 0 0 1em;
    display: inline-block;
}

nav>div li>ul {
    display: none;
}
nav li.expanded>ul {
    display: block;
}

/* nav>div li::before {
    content: "▶";
    margin-right: 0.3em;
    font-size: 0.8em;
    height: 1em;
    vertical-align: middle;
    color: #999;
    cursor: pointer;
}
nav>div li.expanded::before {
    content: "◢";
} */
span.ftriangle,
span.dtriangle {
    /* margin-right: 0.3em; */
    width: 1em;
    height: 1em;
    color: #bbb;
    /* display: inline-block; */
    text-align: left;
    cursor: default;
    position: relative;
}
span.dtriangle {
    cursor: pointer;
}
span.dtriangle::before {
    position: absolute;
    /* top: 0.2em; */
    left: 0;
    font-size: 0.8em;
    width: 100%;
}
a.openEntry {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

nav>div li>span.dtriangle::before {
    content: "▶";
}
nav>div li.expanded>span.dtriangle::before {
    content: "◢";
}

body {
    margin-left: 32px; 
}

/* --------MOBILE DEVICES-------- */
@media screen and (max-width: 1000px) {
    article {
        width: 88%;	
    }
}

@media screen and (max-width: 769px) {
    article {
        width: 100vw;
        max-width: 100%;
        margin: 0px 0px 0px 0px;
        /* overflow-x: auto; */
        padding: 16px 36px 32px 36px;
    }
    body {
        padding: 0px;
        margin: 0;
        background-color: #ccc !important;
    }
    td {
        padding: 6px 6px;
        font-size: 12px;
    }
    nav {
        position: relative;
        width: 100%;
        height: 32px;
        padding: 12px 2em;
        left: 0;
        margin: 0;
        -webkit-transition: height 500ms, padding 500ms;
        -moz-transition: height 500ms, padding 500ms;
        transition: height 500ms, padding 500ms;
        overflow: hidden
    }
    nav:hover {
        left: 0;
        overflow: auto;
        height: 100vh;
        padding: 2em;
    }
    nav>div {
        overflow: hidden !important;
        padding: 0;
    }
    div.backArr {
        margin-left:-12px;
    }
    .mjx-math {
        overflow-x: auto;
        overflow-y: hidden;
    }
    div.toc {
        font-size: 0.9em;
        float: none;
        width: auto;
        margin-left: 0em;
        padding: 0.5em;
        max-width: none;
        overflow: hidden;
        max-height: 1.6em;
        transition: max-height 0.20s ease-in-out;
    }
    div.toc>ul {
        padding-left: 1.4em;
    }
    div.toc li {
        padding-bottom: 0.3em;
    }
}

/* --------PRINTING-------- */
@page {
    size: A4;
    margin: 1.2cm 0;
}
@media print {
    article {
        width: 100%;
        max-width: 100%;
        margin: 0;
        /* overflow-x: visible; */
        /* padding: 0px 36px 32px 36px; */
        padding: 0 1.6cm;
        box-shadow: none;
        /* border-bottom: 1px solid #ccc; */
        box-sizing: border-box;
        display: block;
        float: none;
        overflow: visible;
        position: relative;
    }
    article>div:last-child {
        border-bottom: 1px solid #ccc;
    }
    body {
        font-size: 8.5pt;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: white !important;
    }
    nav {
        display: none;
    }
    div.toc {
        display: none;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0.5em 0;
    }
    img.github-mark,
    img.gitlab-mark {
        display: none;
    }
    figcaption {
        margin-top: -0.1em;
        margin-bottom: 0.8em;
        break-before: avoid;
    }
    figcaption + img {
        margin-bottom: 1.4em;
    }
    hr#end-of-article {
        display: none;
    }
    div.nextupprev {
        display: none;
    }
    footer {
        display: none;
    }
    pre {
        font-size: 6.5pt;
        /* margin-bottom: 0; */
        page-break-inside: avoid;
        -webkit-region-break-inside: avoid;
    }
    h1, h2, h3, h4, h5, h6 {
        position: relative;
        float: none;
        display: block;
        overflow: visible;
        page-break-after: avoid;
        -webkit-region-break-after: avoid;
        page-break-inside: avoid;
        -webkit-region-break-inside: avoid;
    }
    p, div {
        page-break-before: avoid;
    }
    div.pagebreak {
        page-break-after: always;
    }
}