<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="author" content="Pieter P"/>
        <link rel="stylesheet" type="text/css" href="/CSS/Pages.css"/>
        <link href='/CSS/roboto.css' rel='stylesheet' type='text/css'/>
        <link href='/CSS/icon.css' rel='stylesheet' type='text/css'/>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              TeX: { equationNumbers: { autoNumber: "AMS" } },
              "fast-preview": {
                disabled: true
              }
            });
        </script>
        <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-AMS_SVG"></script>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
        <meta name="theme-color" content="#ccc"/>
        <meta name="keywords" content=":keywords:"/>
        <meta name="description" content=":description:"/>
        <title>:title:</title>
    </head>
    <body>
        <nav>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" style="position:absolute;top:4px;right: 4px;">
                    <path d="M0 0h48v48h-48z" fill="none"/>
                    <path d="M6 36h36v-4h-36v4zm0-10h36v-4h-36v4zm0-14v4h36v-4h-36z"/>
                </svg>
                <h2><a href="/">Pages</a></h2>
:nav:
                <i class="material-icons">
                    <a href="/" title="Home">home</a>
                </i>
                <i class="material-icons">
                    <a href=":filenamepdf:" title="Download as PDF">get_app</a>
                </i>
                <i class="material-icons">
                    <a href="javascript:window.print()" title="Print this article">print</a>
                </i>
                <i class="material-icons">
                    <a href="https://github.com/tttapa/tttapa.github.io/issues/new" target="_blank" title="Comment or open an issue">report</a>
                </i>
            </div>
        </nav>
        <article>
            <h1 class="title">:title:</h1>
            <i class="author">:author:</i>
            <div>:html:</div>
        </article>
        <footer>Last edited: :mdate: UTC</footer>
    </body>
</html>
